h1 {
    font-size: $xxx-large;
    font-weight: 700;
    font-family: 'Raleway';
}

h2 {
    font-size: $x-large;
    font-weight: 700;
    font-family: 'Raleway';
}

p {
    font-size: $medium;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Raleway';
}
