//1st color scheme
$white: #ffff;
$platinum: #e8e8e8;
$gray: #bababa;

//2nd color scheme
$dark-salmon: #ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;

//3rd color scheme
$ball-blue: #2ab7ca;
$middle-blue: #77d1dd;
$blue-lagoon: #b1e4eb;

//4rd color scheme
$onyx: #333745;
$spanish-grey: #8f9199;
$lavender-grey: #c7c8cc;

//5nd color scheme
$raisin-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

//typography
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

//font weight
$regular: 400;
$bold: 700;

//font size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//buttons size
$medium-button: 200px;
$small-button: 100px;
