.features-container {
   display: grid;
}


.features-content {
    padding: 30px;
    text-align: center;
}

.features-graph {
    width: 100%;
    padding: 20px;
}

h2 {
    font-size: $xxx-large;
    color: $raisin-black;
}

.features-title {
    text-align: center;
}

h3 {
    font-size: $large;
    color: $raisin-black;
}

.features-graph {
    animation-name: opacidad;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@media (min-width:768px) {
.text-features {
    text-align: left;
}


    }